logs/ 
__pycache__/ 
venv/
csap_redis/
run.ps1
"logs" 
"venv" 
"proxy.txt" 
"logs" 
"venv" 
"proxy.txt" 
/mnt/c/Users/Mobolaji.Aina/Documents/P/python/web/csap/\logs
/mnt/c/Users/Mobolaji.Aina/Documents/P/python/web/csap/\venv
\proxy.txt
"logs" 
"venv" 
"proxy.txt" 
